.ezy__testimonial7 {
    /* Bootstrap variables */
    --bs-body-color: #2b323c;
    --bs-body-bg: rgb(255, 255, 255);

    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-item-bg: #ffffff;
    --ezy-item-shadow: 0px 8px 44px rgba(227, 238, 255, 0.48);
    --ezy-rating-rgb: 255, 215, 0;

    background-color: var(--bs-body-bg);
    overflow: hidden;
    padding: 60px 0;
}

/* Gray Block Style */
.gray .ezy__testimonial7,
.ezy__testimonial7.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);

    /* Easy Frontend variables */
    --ezy-item-bg: #f6f6f6;
    --ezy-item-shadow: 0px 4px 44px rgba(179, 209, 236, 0.37);
}

/* Dark Gray Block Style */
.dark-gray .ezy__testimonial7,
.ezy__testimonial7.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);

    /* Easy Frontend variables */
    --ezy-item-bg: #232e3c;
    --ezy-item-shadow: none;
}

/* Dark Block Style */
.dark .ezy__testimonial7,
.ezy__testimonial7.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);

    /* Easy Frontend variables */
    --ezy-item-bg: #162231;
    --ezy-item-shadow: none;
}

.ezy__testimonial7-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: var(--bs-body-color);
}

@media (min-width: 768px) {
    .ezy__testimonial7-heading {
        font-size: 35px;
        line-height: 35px;
    }
}

.ezy__testimonial7-sub-heading {
    font-size: 18px;
    line-height: 25px;
    color: var(--bs-body-color);
    opacity: 0.8;
}

.ezy__testimonial7-item {
    background-color: var(--ezy-item-bg);
    box-shadow: var(--ezy-item-shadow);
    border-radius: 20px;
    border: none;
}

.ezy__testimonial7-title {
    color: var(--bs-body-color);
}

.ezy__testimonial7-content {
    color: var(--bs-body-color);
    opacity: 0.8;
}

.ezy__testimonial7-rating [class*="fa-"]:not(.active),
.ezy__testimonial7-rating [class*="fa-"]:not(.active) * {
    color: rgba(var(--ezy-rating-rgb), 0.2);
}

.ezy__testimonial7-rating [class*="fa-"].active,
.ezy__testimonial7-rating [class*="fa-"].active * {
    color: rgba(var(--ezy-rating-rgb), 1);
}

.ezy__testimonial7 .carousel-inner {
    overflow: visible;
}

.ezy__testimonial7 .carousel {
    display: flex;
    flex-direction: column;
}

.ezy__testimonial7-dot-control,
.ezy__testimonial7 .carousel-indicators {
    position: relative;
    margin-top: 30px;
    order: 2;
}

.ezy__testimonial7-dot-control span,
.ezy__testimonial7 .carousel-indicators button {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border: 1px solid var(--bs-body-color);
    border-radius: 50%;
    display: inline-flex;
    margin: 4px;
    transition: all 0.3s ease-in-out;
    transform: scale(0.7);
    cursor: pointer;
    opacity: 1;
}

.ezy__testimonial7-dot-control span.active,
.ezy__testimonial7 .carousel-indicators button.active {
    background-color: var(--bs-body-color);
    transform: scale(1);
}

.bg-services-custom {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}


.ezy__footer7 {
	/* Bootstrap variables */
	--bs-body-color: #28303b;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;

	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	padding: 60px 0;
}

@media (min-width: 768px) {
	.ezy__footer7 {
		padding: 60px 0 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__footer7,
.ezy__footer7.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__footer7,
.ezy__footer7.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);
}

.dark .ezy__footer7,
.ezy__footer7.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
}

.ezy__footer7-nav .nav-link {
	color: var(--bs-body-color);
}

.ezy__footer7-nav .nav-link:hover {
	color: var(--bs-body-color);
	opacity: 0.8;
}

.ezy__footer7-social li {
	list-style-type: none;
	display: inline-block;
}

.ezy__footer7-social li:not(:last-child) {
	margin-right: 20px;
}

.ezy__footer7-social li a {
	color: var(--bs-body-color);
	text-decoration: none;
	font-size: 25px;
	opacity: 0.5;
	transition: opacity 0.35s ease-in-out;
}

.ezy__footer7-social li a:hover {
	color: var(--ezy-theme-color);
	opacity: 1;
}

.ezy__footer7-quick-links li {
	margin-bottom: 8px;
}

.ezy__footer7-quick-links li a {
	color: var(--bs-body-color);
	opacity: 0.5;
	text-decoration: none;
	transition: color 0.35s ease-in-out;
}

.ezy__footer7-quick-links li a:hover {
	color: var(--bs-body-color);
	opacity: 1;
}

.ezy__footer7-copyright a {
	color: var(--bs-body-color);
	text-decoration: none;
}

.ezy__footer7 .form-control,
.ezy__footer7 .form-select {
	min-height: 42px;
	line-height: 35px;
	border-color: transparent;
	background: rgba(163, 190, 241, 0.14);
	border-radius: 10px;
	color: var(--bs-body-color);
}

.ezy__footer7 .form-control:focus,
.ezy__footer7 .form-select:focus {
	border-color: #86b7fe;
	box-shadow: none;
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.25rem;
}

/* Media queries for smaller devices */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem; /* Scale down heading on smaller screens */
    }

    #hero p {
        font-size: 1rem; /* Scale down paragraph on smaller screens */
    }

    .container {
        padding-left: 1rem; /* Extra padding on smaller devices */
        padding-right: 1rem;
    }
}
